---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.svelte';
---

<Layout title="CRUD Estudiantes" description="Aplicación para gestionar estudiantes">
	<div class="relative flex flex-col min-h-screen items-center justify-center overflow-hidden">
    	<Menu client:idle active="/" />
	</div>
</Layout>
